<div id="<%= dom_id connection %>">
  <p>
    <strong>User:</strong>
    <%= connection.user_id %>
  </p>

  <p>
    <strong>Relation:</strong>
    <%= connection.relation %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= connection.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= connection.last_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= connection.middle_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= connection.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= connection.phone %>
  </p>

</div>
